body {
    margin: 0;

    font-family: Bahnschrift;
    font-size: 16px;

    background: linear-gradient(45deg, #07cc32, #0d7ad4);
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

main {
    margin: 10px auto;
    padding: 20px;

    width: 500px;

    box-shadow: -4px 4px 10px 0px #6b4b96b5;

    background-color: #9007cf;
}

header h1 {
    margin: 0 0 10px;

    font-size: 2.5em;

    color: white;
}

header h1::selection {
    color: black;
}

header img {
    height: 30px;
}

article h2 {
    margin: 40px 0 0;
}

article h2::selection {
    color: white;
}

article img.lado {
    float: right;

    height: 100px;
}

article img.lado::selection {
    background-color: springgreen;
}

article p {
    margin: 8px 0 15px;
}

article p::selection {
    color: white;

    background-color: springgreen;
}

article p.link {
    margin: 0;
}

article p.link a {
    text-decoration: none;
    color: black;

    border-radius: 8px;
    box-shadow: -2px 2px 4px #0b152cbd;

    background-color: steelblue;

    padding: 5px;

    transition: 0.4s;
}

article p.link a:hover {
    color: white;
}

footer {
    display: block;
    
    position: absolute;
    bottom: 0%;
    right: 0%;
}

footer a:visited {
    color: #0000ee;
}

/* Página 2 */

header img.pagina2 {
    height: 100px;
}

header.pagina2 {
    display: flex;

    justify-content: space-between;
}

article.pagina2 {
    text-align: center;
}

article.pagina2 h3 a {
    text-decoration: none;

    color: #ffd900;
}

article.pagina2 h3 a:hover {
    text-decoration: underline;
}

div.video {
    margin-top: 30px;
}

main > a img {
    padding: 10px;
}