body {
    margin: 0;

    font-family: Bahnschrift;
    font-size: 16px;

    background: linear-gradient(45deg, #07cc32, #0d7ad4);
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

main {
    margin: 10px auto;
    padding: 20px;

    width: 500px;

    box-shadow: -4px 4px 10px 0px #6b4b96b5;

    background-color: #9007cf;
}

header h1 {
    display: flex;
    justify-content: center;

    margin: 0 auto 40px;

    font-size: 2.5em;

    color: white;
}

header h1::selection {
    color: black;
}

article h2 {
    margin: 0;
}

article h2::selection {
    color: white;
}

article p {
    margin: 8px 0 50px;

    text-align: justify;
}

article p::selection {
    color: white;

    background-color: springgreen;
}
